<app-form [formGroup]="formGroup" [title]="'signUp.form.title.label' | translate">
  <mat-form-field appearance="standard">
    <mat-label translate="signUp.form.firstName.label"></mat-label>
    <input matInput formControlName="firstName" [attr.data-cy]="'firstName'">
    <mat-error *ngIf="(formGroup | formControl: 'firstName')?.invalid"
               translate="signUp.form.validations.invalidFirstName.label">
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label translate="signUp.form.lastName.label"></mat-label>
    <input matInput formControlName="lastName" [attr.data-cy]="'lastName'">
    <mat-error *ngIf="(formGroup | formControl: 'lastName')?.invalid"
    translate="signUp.form.validations.invalidLastName.label">
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label translate="signUp.form.email.label"></mat-label>
    <input matInput formControlName="email" [attr.data-cy]="'email'">
    <mat-error *ngIf="(formGroup | formControl: 'email')?.invalid"
    translate="signUp.form.validations.invalidEmail.label">
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label translate="signUp.form.password.label"></mat-label>
    <input matInput type="password" formControlName="password" [attr.data-cy]="'password'">
    <mat-error *ngIf="(formGroup | formControl: 'password')?.invalid"
    translate="signUp.form.validations.invalidPassword.label">
    </mat-error>
  </mat-form-field>

  <button [disabled]="userService.loading$ | async"
          [attr.data-cy]="'signUp'"
          mat-raised-button
          color="primary"
          translate="signUp.form.button.label"
          (click)="handleFormSubmit()">
  </button>
</app-form>
