<app-form [formGroup]="formGroup" [title]="'signUp.form.title.label' | translate">
  <mat-form-field appearance="standard">
    <mat-label>{{ 'signUp.form.firstName.label' | translate }}</mat-label>
    <input matInput formControlName="firstName">
    <mat-error *ngIf="(formGroup | formControl: 'firstName')?.invalid">
      {{ 'signUp.form.validations.invalidFirstName.label' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>{{ 'signUp.form.lastName.label' | translate }}</mat-label>
    <input matInput formControlName="lastName">
    <mat-error *ngIf="(formGroup | formControl: 'lastName')?.invalid">
      {{ 'signUp.form.validations.invalidLastName.label' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>{{ 'signUp.form.email.label' | translate }}</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="(formGroup | formControl: 'email')?.invalid">
      {{ 'signUp.form.validations.invalidEmail.label' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>{{ 'signUp.form.password.label' | translate }}</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="(formGroup | formControl: 'password')?.invalid">
      {{ 'signUp.form.validations.invalidPassword.label' | translate }}
    </mat-error>
  </mat-form-field>

  <button [disabled]="userService.loading$ | async" mat-raised-button color="primary" (click)="handleFormSubmit()">
    {{ 'signUp.form.button.label' | translate }}
  </button>
</app-form>
