<app-form [formGroup]="formGroup" [title]="'Sign up'">
  <mat-form-field appearance="standard">
    <mat-label>First name</mat-label>
    <input matInput formControlName="firstName">
    <mat-error *ngIf="(formGroup | formControl: 'firstName')?.invalid">First name is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastName">
    <mat-error *ngIf="(formGroup | formControl: 'lastName')?.invalid">Last name is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="(formGroup | formControl: 'email')?.invalid">Email is invalid.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="(formGroup | formControl: 'password')?.invalid">
      Password should be at least 8 characters, lower and uppercase letters, should not contain First or Last name.
    </mat-error>
  </mat-form-field>

  <button [disabled]="userService.loading$ | async" mat-raised-button color="primary" (click)="handleFormSubmit()">
    Sign up
  </button>
</app-form>
